.login-form {
  display: block; // Mostrar el formulario de inicio de sesión
}

.register-form {
  display: none; // Ocultar el formulario de registro por defecto
}

.show-register-form .login-form {
  display: none; // Ocultar el formulario de inicio de sesión cuando se muestra el formulario de registro
}

.show-register-form .register-form {
  display: block; // Mostrar el formulario de registro cuando se hace clic en el botón
}

.show-login-form .login-form {
  display: block; // Mostrar el formulario de inicio de sesión cuando se hace clic en el botón
}

.show-login-form .register-form {
  display: none; // Ocultar el formulario de registro cuando se muestra el formulario de inicio de sesión
}


.form-container {
  max-width: 500px; /* Ajusta este valor según tus necesidades */
  margin: 0 auto;
  padding: 20px;
}


